<ion-header #toolbar [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cálculo IMC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-row  class="ion-text-center">
      <ion-col>
        <ion-button (click)="takePicture()">
          Câmera
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row  class="ion-text-center">
      <ion-col>
       <ion-img [src]="base64Image"></ion-img>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>
